
body, html {
    background-color: black;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
}

.background-image {
    max-height: 100vh;
}

/*@font-face {*/
/*    font-family: myFirstFont;*/
/*    font-display: auto;*/
/*    src: local('OpenSans-Bold'),*/
/*       url("Font/OpenSans-Bold.ttf") format('truetype'); !* will be preloaded *!*/
/*}*/


.bubble {
    margin-top: -100vh;
    margin-bottom: -3vh;
}

.top_poop {
    position: relative;
}

.start_button {
    position: relative;
    margin-bottom: 1vh;
}

.top_section {
    position: relative;
}

.bottom_section {
    position: relative;
}

#welcome_bubble {
    height: 20vh;
    width: 25vh;
}

#top_poop-1 {
    height: 20vh;
    width: 20vh;
}

.professor-text {
    font-size: 3vh;
    font-weight: 1000;
    font-family: 'Antonio', sans-serif;
}

#start_button {
    transform: scale(1);
    transition: transform 250ms ease-in-out;
    width: 30vh;
    height: 10vh;
}


#level_button {
    z-index: 2;
    border: none;
    border-radius: 1vh;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 3vh;
    background: #F15A24;
    text-decoration: black;
    width: 25vh;
    height: 6.25vh;
    margin-bottom: 3vh;
    margin-top: 1.5vh;
}

.hide {
    display: none;
}


#yellow_poop {
    border-radius: 1vh;
    height: 15vh;
    width: 15vh;
    background-color: #FFD700;
    margin-bottom: 2.5vh;
    margin-right: 1.5vh;
}

#red_poop {
    border-radius: 1vh;
    height: 15vh;
    width: 15vh;
    background-color: #FA8072;
    margin-bottom: 2.5vh;
    margin-left: 1.5vh;
}

#blue_poop {
    border-radius: 1vh;
    height: 15vh;
    width: 15vh;
    background-color: #00BFFF;
    margin-right: 1.5vh;
}

#green_poop {
    border-radius: 1vh;
    height: 15vh;
    width: 15vh;
    background-color: #228B22;
    margin-left: 1.5vh;
}

.pressed_green_poop {
  box-shadow: 0 0 20px #009444;
  background-color: #009444;
    filter: contrast(50%);
}
.pressed_red_poop {
  box-shadow: 0 0 20px #BE1E2D;
  background-color: #BE1E2D;
    filter: contrast(50%);
}
.pressed_blue_poop {
  box-shadow: 0 0 20px #00AEEF;
  background-color: #00AEEF;
    filter: contrast(50%);
}
.pressed_yellow_poop {
  box-shadow: 0 0 20px #FFB90B;
  background-color: #FFB90B;
    filter: contrast(50%);
}


#game_over_bubble {
    margin-top: 5vh;
    margin-bottom: 2vh;
    height: 20vh;
    width: 25vh;
}

#top_poop-2 {
    height: 25vh;
    width: 25vh;
}

#high_score {
    margin-bottom: 2vh;
    margin-top: 1vh;
    width: 40vh;
    height: 12vh;
}

#score {
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
    margin-top: -8vh;
}

#play_again {
    margin-top: 2vh;
    height: 7vh;
    width: 20vh;
}

