body {
    background-color: black;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
}
.imgbox {
    /*display: grid;*/

    /*height: 100%;*/
}
.center-fit {
    max-height: 100vh;
}

.second {
    position: relative;
    bottom: 85rem;
}

.third {
    position: relative;
    bottom: 85rem;
}

#yellow_poop {
    margin-right: 1rem;
    height: 20vh;
    width: 20vh;
}

#red_poop {
    margin-left: 1rem;
    height: 20vh;
    width: 20vh;
}

#blue_poop {
    margin-right: 1rem;
    height: 20vh;
    width: 20vh;
}

#green_poop {
    margin-left: 1rem;
    height: 20vh;
    width: 20vh;
}